<p>
  <strong>Category</strong>
  <%= @article.category %>
</p>

<p>
  <strong>Summary</strong>
  <%= @article.summary %>
</p>
 
<br>

<p>
  <strong>Type</strong>
  <%= @article.qtype %>
</p>

<p>
	<%= @article.item %>
</p>

<p>
  <%= @article.choice %>
</p>

<p>
	<strong>Answer!</strong>
  <%= @article.answer %>
</p>

<p>
	<strong>Explaination</strong>
  <%= @article.explaination %>
</p>	

<p>
	<strong>Status</strong>
  <%= @article.status %>
</p>	
