<h1>Listing subjects</h1>

<div class='well' style="overflow:auto;">
  <table class="table col-md-6">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @subjects.each do |subject| %>
        <tr>
          <td><%= subject.name %></td>
          <td>
            <%= link_to icon('eye-open'), subject %>&nbsp;
            <% if user_signed_in? %>
              <%= link_to icon('edit'), edit_subject_path(subject) %>&nbsp;
              <%= link_to icon('trash'), subject, method: :delete, data: { confirm: 'Are you sure?' }  %>
            <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<hr>

<%= link_to 'New Subject', new_subject_path, class: 'btn btn-default' %>
